@model List<string>


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>TagHelper</title>
</head>

<body>

    <h1>Hi Teacher .. </h1>

    <shayeste users="Model" user-name="Ali">This is an authorized Tag .. </shayeste>
    <shayeste users="Model" user-name="@User.Identity.Name">This is an authorized Tag .. </shayeste>


</body>

</html>
